body {

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#eeeeee ;
    }
    
    form{
    
    box-shadow: 0 0 20px;ruby-align:  (0, 0, 0, 0.2);
    padding: 50px  35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
    background-color:#9ae6f0 ;
    }
    
    form h2 {
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        color: #00422c;
        margin-bottom: 30px;
    
    }
    
    form p{
        font-size: 16px;
        color: #5e5e5e ;
        margin: 35px;
    }
    
    .input-wrapper{
    position:relative;
    width: 305px;
    margin-bottom: 35px;
    }
    
    input {
        padding: 17px 11px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        margin-bottom: 30px;
        background-color: #FAFAFC;
        color: #0a34c0;
        font-size: 17px;
    }
    
    input::placeholder{
     font-size: 16px;
    color:rebeccapurple;
    }
    
    .btn{
        background-color: #2eaf79;
        font-size: 10px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        padding: 17px 11px;
        border-radius: 10px;
    
    }
    
    .btn-2 {
        background-color: #3f3f3f;
        font-size: 15px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 30px;
    }
    
    .btn-2:hover {
        background-color: #CCCCCC;
    }
    
    .success {
    position: absolute;
    top: 50px;
    color:#00c83c;
    font-size: 18px;
    }
    
    .error {
        position: absolute;
        top: 50px;
        color:#E02D00;
        font-size: 18px;
        }